<div class="container">
    <br>
    <div class="row ">

        <div class="col-sm-4">

            <img src="./assets/img/cv.jpg"  class="rounded-circle">

            <br><br><a href="mailto:wbs.vojo@gmail.com">
                <img title="wbs.vojo@gmail.com" src="../assets/img/mail.png" class="img-circle" alt="Avatar">
                wbs.vojo@gmail.com</a>

            <br> <br>
            <img title="065/726-769" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4ta6oHIrIrhth8qgmemrXu3rKaQAF9-D-rgp1pP2q5ZG6zFNy"
                class="img-circle" alt="Avatar"> 065/726-769

            <br> <br>

            <p>SKILLS</p>
            <hr>

            <div class="skill">
                <div class="row">
                    <div class="col-sm-8">
                        <div *ngFor="let skill of skills">
                            <div class="blueBackground">

                                <h3>
                                    {{skill.name}}
                                </h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br> <br>
            <h2> LANGUAGES </h2>
            <hr>
            English:<br>
            <span *ngFor="let number of [0,1,2]">
                <p class="colorRing"></p>
            </span>

            <span *ngFor="let number of [0,1]">
                <p class="emptyRing "></p>
            </span>
            <br><br>Serbian:<br>

            <span *ngFor="let number of [0,1,2,3,4]">
                <p class="colorRing"></p>
            </span>




        </div>

        <div class="col-sm-8">
            <div class="blueBackground">
                <h1>
                    <p>

                        VOJISLAV KOVANUŠIĆ
                    </p>
                </h1>

                <h2>
                    <p>
                        Forestry Engineer
                    </p>
                    <hr>
                    <br>

                </h2>
            </div>
            <br>
            <br>
            <p class="bigGreen"> WORK EXPERIENCE</p>

            <hr>

            <p class="smallGreen">Head of the forestry service</p>

            <p class="smallFont"> "ŠG Borja"</p>
            <p class="color">2013, Teslic</p>
            <br>


            <p class="bigGreen"> ORGANIZATIONS</p>

            <hr>
            <p class="smallFont"> "ŠG Borja" Teslic</p>

            <br>
            <p class="bigGreen">PERSONAL IT PROJECTS</p>
            <hr>
            <p class="smallFont"> Arbor Magna (angular) </p>

            <ul>
                <li>Web site for the natural heritage conservation society</li>
                <li> <a target="_blank" href=" https://arbor-magna-test.firebaseapp.com">Visit web page</a> </li>

            </ul>

            <p class="smallFont"> Butterfly Location in Bosnia (angular+spring)</p>

            <ul>
                <li> <a target="_blank" href="https://github.com/VojoKovanusic/AddPhotoApp">Visit my github page for
                        code </a> </li>
                <li>Where I want to make a list of locations with protected and endangered plant and animal species
                    (butterflies) in BiH</li>
                <li>Registered users can add locations (images, texts, GPS locations, comments ...)</li>
                <li>Unregistered users just view locations that are entered</li>

            </ul>

            <p class="smallFont"> Discount Ascii Warehouse ecommerce platform(angular +spring)</p>
            <ul>
                <li> <a target="_blank" href="https://github.com/VojoKovanusic/DiscontApp-spring">Visit my github
                        page for spring project </a>
                </li>
                <li> <a target="_blank" href="https://github.com/VojoKovanusic/DiscontApp-Front">Visit my github
                    page for angular project</a>
            </li>
                <li>
                    Application will produce a list of "Popular purchases", so customers can see who else bought the
                    same products as them.
                </li>
                <li>Fetch 5 recent purchases for the user</li>
                <li>For each of those products, get a list of all people who previously purchased that product</li>
                <li>Info about the products</li>
                <li>Finally, put all of the data together and sort it so that the product with the highest number of
                    recent purchases is first
                </li>
            </ul>


            <p class="smallFont"> BILD IT Tasks</p>
            <ul>
                <li> <a target="_blank" href="https://github.com/VojoKovanusic/BILD-IT-Zadaci-nova-verzija-/tree/master/src">Visit
                        my
                        github page for code </a> </li>
                <li> Many mini logical tasks, which we had everyday in the "boot camp"</li>

            </ul>
            <br>
            <p class="bigGreen">EDUCATION</p>

            <hr>

            <p class="smallGreen">Study Program</p>

            <p class="smallFont">Forestry faculty</p>
            <p class="color">2008, Banja Luka</p>
            <hr>
            <p class="color">Courses: </p>

            <ul>
                <li> BILD IT (Doboj) 2016/17
                </li>
                <li> Firefighting training in forest (Antalya)2016 </li>
                <li> Course for basketball coach (Banja Luka)2018 </li>
            </ul>


        </div>


    </div>
