.colorRing {
    height: 35px;
    width: 35px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.emptyRing{
    height: 35px;
    width: 35px;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    display: inline-block;
}
.container {
    background-color : white;
  }

  .rounded-circle{
    width: 210px;
    height: 210px 
  }

.img-circle{
    width: 29px;
    height: 29px 
  }

  p{
    font-size:30px;
     color:green
  }
  h3,h2{
    color:green
 }
 hr{ border: none;
     border-bottom: 4px solid green;}

 .blueBackground{ background-color:#e3f2fd }

.bigGreen{
    font-size:30px;
     color:green
}
.smallGreen{
    font-size:30px;
     color:green
}
.color{
    color:green
}
.smallFont{
    font-size:20px 
}