
<div class="container">
  <div class="col-md-12">
    <app-list-purchase [id]="id"></app-list-purchase>
  </div>
  <div class="col-md-12">
    <app-purchase-by-username [userName]="userName"></app-purchase-by-username>
  </div>
  <div class="col-md-12">
    <app-product-by-id [id]="id"></app-product-by-id>
  </div>
  <div class="col-md-12">
    <app-popular-purchase [userName]="userName"></app-popular-purchase>
  </div>
</div>
<div class="col-md-12">
  <br>
  <app-all-products></app-all-products>
</div>