<div class class="container">
  <form>
    <p>Enter username to see  users Who Recently Purchased </p>
    <input type="text" name="userName" [(ngModel)]="userName">

    <button class="Submit" (click)="usersWhoRecentlyPurchased()">Search</button>
     
   <br> {{userName}} by this product:
   <br>
    <div class="table-responsive" >
        <table class="table table-striped" >
          <thead>
            <th>Id</th>
            <th>Face</th>
            <th>Price</th>
            <th>Size</th>
            <th>Users who also by this product</th>
          </thead>
          <tbody>
            <tr *ngFor="let purchase of list; let product of products;" >
              
              <td>{{purchase.product.id}}</td>
              <td>{{purchase.product.face}}</td>
              <td>{{purchase.product.price}}</td>
              <td>{{purchase.product.size}}</td>
              <td>{{purchase.recentUserNames}}</td>
           
            </tr>
  
          </tbody>
  
        </table>
      </div>
    </form>