<br>
<div class="container">

  <h2 align="center">How run application </h2>

  <ul>
    <li>First: <a href="https://github.com/x-team/daw-purchases/archive/master.zip" target="_blank"><strong>Download project on your machine.</strong></a></li>
    <li>Unziped...! This package contains fake information</li>
    <li>Then get results on your port 8000 when run it, with the command <strong> npm start</strong></li>
    <li><a href="https://github.com/VojoKovanusic/DiscontApp-Front.git" target="_blank">Clone my project</a> on your machine </li>
    <li>Front side of aplication, run as angular project</li>
    <li>Back run as a spring boot aplication</li>
  </ul>
  
  
  