<br>
<div class="container">

  <h2 align="center">How run application </h2>

  <div class="col-sm-12" align="center"> <br>
    <img src="{{img}}"  >
  
    <br>
    
    <br>First: <a href="https://github.com/x-team/daw-purchases/archive/master.zip" target="_blank"><strong>Download project on your machine.</strong></a> 
    <br>Unziped...! This package contains fake information 
    <br>Then get results on your port 8000 when run it, with the command <strong> npm start</strong> 
    <br><a href="https://github.com/VojoKovanusic/DiscontApp-Front.git" target="_blank">Clone my project</a> on your machine  
    <br>Front side of aplication, run as angular project 
    <br>Back run as a spring boot aplication 
   
 
  
   </div>