 
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      
        <ul class="navbar-nav">
          <li class="nav-item active">
           <h4> <a class="nav-link" routerLink="">discont app</a></h4>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home page</a>
          </li>

          <li class="nav-item">
                <a class="nav-link" routerLink="task">Java exam</a>
              </li> 
          <li class="nav-item">
              <a class="nav-link" routerLink="howToRun">How run</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="mySolution">My solution</a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link" routerLink="autor">Author</a>
                </li>
          
        </ul>
        
      </nav>
 
      
    <div class="card card-image">
        <div class="text-white text-center py-5 px-4 my-5">
          <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>DISCONT APP</strong></h2>
            <p class="mx-5 mb-5">
            </p>
            
            Welcome to my first project
            <br>
            <a class="btn btn-outline-white btn-md" routerLink="mySolution">  Run project</a>
          </div>
        </div>
      </div>
     
