<div class="row">

    <div class="col-sm-12" > <br>
      <h3 align="center" > <b>ANGULAR and SPRING:</b> <br>the source for modern web app</h3> </div>
     
  </div>

<br>
  <div class="row">

      <div class="col-sm-12" align="center"> <br>
        <img src="{{imgAngular}}"  >
        <img src="{{imgSpring}}"  >
      </div>
    </div>


  <hr>
     
<div class="row" >
 

    <br> 
  
    <div class="container"  >
   
      <div class="col-sm-12">
        Ovdje se radi o projektu, koji sam dobio sasvim slučajno od jednog priatelja koji se javio nekim amerikancima
        <a href="https://www.x-team.com" rel="nofollow"> developers at x-team</a> na konkurs i oni mu poslali
        <a href="task">ovo</a>.
        <br>Svidio mi se iz vise razloga. Radilo se o klasicnom backend zadatku (u prvom mahu), a osim toga dosta se razlikova
        od svih mojih predhodnih pokusaja pisanja koda - klasicni upis i ispis podataka iz baze, konfigurisao uz pomoc Spring
        boot-a, mapirao objekte uz pomoć hibernate da bi ih sačuvao u bazi(xamp, phpmyadmin), pa izvršio njihovo reprezentovanje
        uz pomoć JSP-a (Spring MVC).
        <a routerLink="https://github.com/VojoKovanusic/MVC" target="_blank"> git link </a>.
        <br> Ovdje sam kao pozadinu koristio Javu - Spring, dakle uradio sam klasični RESTful Web Service i to je bilo to...dok
        nakon nekog vremena nisam uvidio (uz pomoć prijatelja naravno, opet) da se mora nešto poraditi i po pitanju front tehnologije.
        Izmedju Reacta i Angulara, pokušah sa Angularom...
         <br> Kao što vidite :) ovo je moj prvi dodir sa front tehnologijam, koji sam iskoristio da pokušam nadograditi ovaj task. 
         Tako da sam uspio nešto odraditi sa Angularom, ne JS-om, već sa verzijom 2 +...!
  
  
        <ul>
          <br>
          <strong>Sto se tiče razvojnog okruzenja (IDE) koje sam koristio:</strong>
          <li>
            STS (Spring Tool Suite). U stvari radi se o klasičnoj varijanti eclipse, sa poboljšanjima vezanim za Spring pre svega,
          </li>
          <li>
            Visual Studio Code sam upražnjavao kod Angulara.</li>
        </ul>
        <ol>
          <strong>Kao izvor informacija koristio sam ovim redom:</strong>
          <li>
            Udemy</li>
          <li>
            Youtube</li>
          <li>
            stackoverflow</li>
          <li>
            službena dokumentacija</li>
        </ol>
      </div>
    </div>
  </div>
   