<div class="container">
  <form [formGroup]="form">
    <label class="form">Enter id</label>
    <br>
    <input 
    class="input"
    required
    type="number" 
  
    id="id"
    [(ngModel)]="id"
  
     formControlName="id">

    <div *ngIf="idF.invalid && idF.touched" class="alert alert-danger">
      <div *ngIf="idF.errors.required">- Id is required field</div>

      
    </div>

    <button class="Submit" (click)="getPurchasesById()">Search</button>
    <div *ngIf="!isEmptu()">
      
      <table class="table table-striped">
        <thead>
            <th>#</th>
          <th>Id</th>
          <th>Username</th>
          <th>Product Id</th>
          <th>Date</th>
        </thead>
        <tbody>                        
          <tr *ngFor="let purchase of purchases; let i = index">
              <td>{{i + 1}} )</td>
            <td>{{purchase.id}}</td>
            <td>{{purchase.username}}</td>
            <td>{{purchase.productId}}</td>
            <td>{{purchase.date}}</td>
          
          </tr>

        </tbody>

      </table>
    
    </div>
  </form>  
</div>
