<div class class="container">
  <form [formGroup]="form">
      <label class="form">Enter product ID, for product face: </label>
<br>
    <input 
    class="input"
    required
    type="number" 
    id="id"
    [(ngModel)]="id"
     formControlName="id">

    <div *ngIf="idF.invalid && idF.touched" class="alert alert-danger">
      <div *ngIf="idF.errors.required">- Id is required</div>

    </div>

    <button class="Submit" (click)="getProductByID()">Search</button>

    <table class="table table-striped" *ngIf="product">

      <thead>
        <th>productId</th>
        <th>face</th>
        <th>price</th>
        <th>size</th>
      </thead>
      <tbody>
        <tr > 
        <td>{{product.id}}</td>
        <td>{{product.face}}</td>
        <td>{{product.price}}</td>
        <td>{{product.size}}</td>
        </tr>
      </tbody>


    </table>
  </form>

</div>